<h1>Dashboard</h1>
<div>
    <a class="" href="<%= texts_path %>">View Texts</a>
    <a class="" href="<%= new_text_path %>">Add Texts</a>
</div>
<div>
    <a class="" href="<%= projects_path %>">View Projects</a>
    <a class="" href="<%= new_project_path %>">Add Project</a>
</div>
