@import 'colors';

.project {
    height: 19rem;
    padding: 10rem;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    background-color: #17363f;
    display: flex;
    flex-direction: column;
    height: 19rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
  }
  
  .project-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    color: #ffffff;
    padding: 0 1rem;
  }
  
  .project-tags {
    margin: 2rem 0;
  }
  
  .tag {
    font-size: 1.2rem;
    background: black;
    color: white;
    opacity: 0.7;
    padding: 1rem;
    margin-left: 2rem;
  }
  
  .project-button {
    width: 20rem;
    height: 5rem;
    color: white;
    background: $accent;
    border: none;
    outline: none;
    font-weight: 400;
    margin-left: 1rem;
  }
  
  .project-button:hover {
    cursor: pointer;
    scale: 0.99;
    opacity: 0.8;
  }

  .project-tags {
    margin: 2rem 0;
  }
  
  .tag {
    font-size: 1.2rem;
    background: black;
    opacity: 0.7;
    padding: 1rem;
    margin-left: 2rem;
  }

  @media (min-width: 767px) {
    .project-button {
      font-size: 2rem;
      width: 25rem;
    }
  }

  @media (min-width: 992px) {
  }
  