<div id="header-wrapper">
    <div class="container">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <%= render 'shared/navigation' %>
            </div>
        </header>
    </div>
</div>