<nav id="nav">
    <ul>

        <% if admin_signed_in? %>
        <li>
            <%= link_to 'New Project', new_project_path %>
        </li>
        <li>
            <%= link_to 'My Projects', "#{ projects_path }" %>
        </li>

        </li>
        <li>
            <%= button_to 'Logout', destroy_admin_session_path, id: 'logout-button', method: :delete %>
        </li>

        <% end %>

    </ul>
</nav>