.admin {
        font-family: Poppins, Helvetica, "Times New Roman", Times, serif;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
        height: 100%;
}