:root {
  --accent: #3e5641;
  --background: #1b1b1e;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Gotham, Helvetica, "Times New Roman", Times, serif;
  background-color: var(--background);
  color: white;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
}

main {
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.nav {
  margin-top: 5rem;
}

.nav a {
  margin-left: 5rem;
  color: #ffffff;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.content {
  /* position: absolute;
  left: 54rem;
  top: 32rem; */
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  position: relative;
  width: 30vw;
}

.number {
  position: absolute;
  width: 8rem;
  height: 15rem;
  left: -11rem;
  top: -11rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 10rem;
  line-height: 15rem;
  text-align: right;
  color: #ffffff;
  opacity: 0.2;
}

.name {
  width: 48rem;
  height: 22rem;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 100%;
  color: #ffffff;
}

.circle {
  position: absolute;
  top: -3rem;
  left: 43rem;
  height: 9rem;
  width: 9rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.about {
  width: 564px;
  height: 108px;
  left: 547px;
  top: 586px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons i {
  font-size: 2.4rem;
  margin-right: 2rem;
}

.accent-text {
  color: var(--accent);
}

.line-wrapper {
  position: relative;
}

.line {
  position: absolute;
  top: 1rem;
  left: -3rem;
  line-height: 0.1rem;
  border-bottom: 0.1rem solid white;
  width: 7rem;
}

.portfolio {
  position: relative;
  margin-top: 20rem;
  width: 50vw;
}
