:root {
  --accent: #3e5641;
  --background: #1b1b1e;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Gotham, Helvetica, "Times New Roman", Times, serif;
  background-color: var(--background);
  color: white;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
}

main {
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.nav {
  margin-top: 5rem;
}

.nav a {
  margin-left: 5rem;
  color: #ffffff;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.content {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  position: relative;
  width: 33vw;
}

.number {
  position: absolute;
  width: 8rem;
  height: 15rem;
  left: -11rem;
  top: -11rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 10rem;
  line-height: 15rem;
  text-align: right;
  color: #ffffff;
  opacity: 0.2;
}

.top-name-wrapper {
  position: relative;
  /* border: 0.1rem solid white; */
}

.circle {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 9rem;
  width: 9rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.name {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 100%;
  color: #ffffff;
}

.about {
  width: 33vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons i {
  font-size: 2.4rem;
  margin-right: 2rem;
}

.accent-text {
  color: var(--accent);
}

.line-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.line {
  position: absolute;
  top: 1rem;
  line-height: 0.1rem;
  border-bottom: 0.1rem solid white;
  width: 5rem;
}

.portfolio {
  margin-top: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-name-wrapper {
  position: relative;
  width: 70%;
}

.gallery-wrapper {
  width: 100%;
}

.gallery {
  height: 75vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.span-col-2 {
  grid-column: span 2 / auto;
}

.span-row-2 {
  grid-row: span 2 / auto;
}

.item-1 {
  width: 100%;
  background-color: rgb(61, 61, 61);
}

.item-2 {
  width: 100%;
  background-color: rgb(63, 59, 23);
}

.item-3 {
  width: 100%;
  background-color: rgb(161, 41, 41);
}

.item-4 {
  width: 100%;
  background-color: rgb(45, 75, 12);
}

.item-5 {
  width: 100%;
  background-color: rgb(52, 40, 161);
}

.item-6 {
  width: 100%;
  background-color: rgb(163, 25, 60);
}
