<div style="width: 100vw;">
    <div style="width: 75%; margin: auto;">
        <h1>AutoVid</h1>
        <p>
            Is Zil Norvilis' personal project. Aimed towards easily managing multiple YouTube and other video social platform accounts.
            Written in Python and utilizing libraries like: Moviepy, Praw and others.
        </p></br>
        <img src="https://i.ibb.co/vP79jG8/image.png" width="100%">
    </div>
</div>